.servings {
    margin-top: 5px;
    font-style: italic;
    font-size: 14px;
}

.li-span {
    display: inline-block;
    width: 100%;
}

.directions {
    font-size: 14px;
    white-space: pre-wrap;
}

.top-line {
    width: 100%;
}